.animated {
    animation-duration: .5s;
    animation-fill-mode: both;
}

@keyframes slide-down {
    from, 60%, 75%, 90%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }

    90% {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: none;
    }
}

.slide-down {
    animation-name: slide-down;
}

@keyframes slide-up {
    from, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    
    40%, 45% {
        opacity: 1;
        transform: translate3d(0, 20px, 0);
    }
    
    to {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
}

.slide-up {
    animation-name: slide-up;
}