/*

  STYLES

  Add custom styles here.

*/

.antialias {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.transition-left {
  transition: transform 0.5s linear;
}

.to-middle {
  transform-origin: 50% 50%;
}

.w-01 {
  width: 0.1px;
}

.h-01 {
  height: 0.1px;
}

.pe-none {
  pointer-events: none;
}